{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Ma liste de course{% endblock %}</h1>
{% endblock %}

{% block content %}

{% if g.user %}

    <ul>
        <li>
            <a href="{{ url_for('stock.stock') }}">Consulter le stock</a> 
        </li>
        <li>
            <a href="{{ url_for('shopping_list.shopping_lists') }}">Votre liste de course</a> 
        </li>
    </ul>

{% else %}
    
    <p> Creer un compte ou connectez-vous pour commencer</p>

{% endif %}

{% endblock %}