{% extends 'base.html' %}

{% block header %}
    <h1>
        {% block title %}
            {{ item.name }}
        {%endblock%}
    </h1>
{% endblock %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form action="{{ url_for('shopping_list.edit', name=item.name) }}" method="post" name="edit">
    <input type="text" name="name" value="{{ item.name }}" />  
    <input type="hidden" name="old_name" value="{{ item.name }}" />
    <input type="submit" value="Renommer la liste" name="rename_button" />
</form>

{% for shopping_good in item.items %}
    <form action="{{ url_for('shopping_list.edit', name=item.name) }}" method="post" name="edit">
        <input type="text" name="name" value="{{ shopping_good.name }}" />  
        <input type="text" name="quantity" value="{{  shopping_good.quantity}}" />
        <input type="text" name="unit" value="{{shopping_good.unit }}" />
        <input type="hidden" name="old_name" value="{{ shopping_good.name }}" />
        
        <input type="submit" value="Modifier" name="edit_button" />
    </form>

    <form action="{{ url_for('shopping_list.edit', name=item.name) }}" method="post" name="edit">
        <input type="submit" value="Supprimer" name="delete_button" />
        <input type="hidden" name="name" value={{ shopping_good.name }} />
    </form>
{% endfor %}

<form action="{{ url_for('shopping_list.edit', name=item.name) }}" method="post" name="edit">
    Nom : <input type="text" name="name" />  
    Quantity : <input type="text" name="quantity" />
    Unité : <input type="text" name="unit" />
    <input type="submit" value="Ajouter" name="add_new_button" />
</form>

<a href="{{ url_for('shopping_list.show', name=item.list_name) }}">Terminer</a>

{% endblock %}